a {
	font-family: sans-serif;
}

a:active {
  color: white;
}

a:hover {
  color: #E317B5;
}

a:link {
  color: white;
}

a:visited {
  color: #B2D1CB;
}

body { 
	background-color: #00211A;
}

h1 {
	font-family: serif;
	font-size: 60px;
	color: white;
}

h2 {
	font-family: sans-serif;
	font-size: 28px;
	text-align: center;
	color: #B2D1CB;
}

li {
	font-family: sans-serif;
	color: white;
}

nav {
	text-align: center;
}

table {
	border-spacing: 30px;
	margin-left: auto;
	margin-right: auto;
} 

th {
	font-family: sans-serif;
	font-size: 28px;
	text-align: left;
	color: #B2D1CB;
}

.banner {
     position: relative;
     text-align: center;
}

.center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.light {
	font-family: sans-serif;
	text-align: center;
	color: white;
	max-width: 200px;
	word-wrap: break-word;
}

@media (min-width: 900px) {
	h1 {font-size: 120px;
	}
}

.responsive {
    width: 100%;
    height: auto;

}

.sunlevel {
	text-align: center;
}

.tagline {
	font-family: sans-serif;
	font-size: 20px;
	font-style: italic;
	color: #B2D1CB;
}